@{
    Layout = "_LayoutLogout";
}

@model List<TurfBooking.Models.BookingModel>
<h3>Name: @ViewBag.Name</h3>
<br/>
<h3>
    ID: @ViewBag.Id
</h3>


<input class="btn btn-primary" type="button" value="New Booking" onclick="location.href = '/Home/DateForm'" />


<h3>Your Booking History</h3>



<table id="table_id" class="table">
    <thead class="thead-light">
        <tr>

            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Ground</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var instance in Model)
        {
            <tr>
                <td>@instance.ShortBookingDate</td>
                <td>@instance.SlotPM</td>
                <td>@instance.Ground</td>
            </tr>
        }
    </tbody>

</table>
<br />

<br />
<br/>


